%h1 Domain: #{Settings.domain}

- @categories.each do |category|

  %div.category_header= category.name
  %table.lists_table
    %tr.category_lists_header
      %th.restricted_header
      %th.subscribed_header{:colspan => 2} Subscribed
      %th.description_header Description
      %th
      %th.outside_email_header
      %th
      %th
        %span.arrow= image_tag "up_arrow.png", :onclick => "window.location = '#{reorder_categories_path}?category_id=#{category.id}&direction=up';".html_safe
        %span.arrow= image_tag "down_arrow.png", :onclick => "window.location = '#{reorder_categories_path}?category_id=#{category.id}&direction=down';".html_safe

    - category.lists.sorted.each do |list|
      %tr{:class => (cycle('odd_row', 'even_row'))}
        %td.lock_image= (image_tag("lock.png", {title: "Restricted access"}) if list.restricted)
        %td.subscriber_checkbox
          - if !(list.restricted && !@user.subscriber.lists.include?(list))
            %input{:id => "#{list.name}-checkbox" ,:class => "subscription_checkbox", :type => :checkbox, :checked => (@user.subscriber.lists.include?(list)), :list_id => list.id}
        %td.list_name= email_list_mail_to list.name
        %td.list_description= list.description
        %td.subscribers_list
          = link_to list_subscribers_path(list.id), :remote => true, :class => "subscribers_button button", "data-type"=>"html" do
            %span.subscribers_count #{list.subscribers.count}
            subscribers
        %td.outside_email_image= (image_tag("outside_email.png", {title: "List has external recipients"}) if list.contains_outside_email?)
        %td
          =button_to "Recent messages", list_archives_path(list), id: "#{list.name}-recent", method: :get unless list.restricted?
        %td= submit_tag 'Edit', :type => 'button', :onclick => "open_edit_list(#{list.id}, '#{list.name}')"

  %br
